<li  *ngIf="doneLoading&&!isLeaf" [style.margin-left]="margin + 'px'" [style.margin-top]="metadata.misc.marginTop" sidebarcolor [sidebarcolor2]="getColor()" [sidebarbackground]="getBackgroundColor()" [sidebarhover]="getBackgroundHoverColor()" sidebarborder [sidebarborderstyles]="getBorderStyle()" (click)="showChild()">{{element.name}}</li>
<li  *ngIf="doneLoading&&isLeaf" [style.margin-left]="margin + 'px'" [style.margin-top]="metadata.misc.marginTop" sidebarcolor [sidebarcolor2]="getColor()" [sidebarbackground]="getBackgroundColor()" [sidebarhover]="getBackgroundHoverColor()" sidebarborder [sidebarborderstyles]="getBorderStyle()" >{{element.name}}</li>
<div *ngIf="haveChilds&&doneLoading&&displayChild" [@flyInOut]="displayChild">
  <sidebar-element *ngFor="let childs of element.childs" [element]="childs" [metadata]="metadata" [margin]=getMargin()  ></sidebar-element>
</div>
