<li  *ngIf="doneLoading&&!isLeaf"><div class="SidebarElement" [style.margin-left]="margin + 'px'"  [style.margin-top]="metadata.misc.marginTop" sidebarstyle [sidebarstyleobj]="getSidebarStyles()" (click)="showChild()">{{element.name}}</div></li>
<li  *ngIf="doneLoading&&isLeaf"><div class="SidebarElement" [style.margin-left]="margin + 'px'" [style.margin-top]="metadata.misc.marginTop"  sidebarstyle [sidebarstyleobj]="getSidebarStyles()">{{element.name}}</div></li>
<div *ngIf="haveChilds&&doneLoading&&displayChild" [@flyInOut]="displayChild">
  <sidebar-element *ngFor="let childs of element.childs" [element]="childs" [metadata]="metadata" [margin]=getMargin()  ></sidebar-element>
</div>
